body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    padding: 1rem;
  }
  
  nav a {
    margin: 0 .5rem;
    text-decoration: none;
    color: #0b5a75;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  header, footer {
    text-align: center;
  }
  