<footer>
    <nav>
      <a href="https://webpages.charlotte.edu/aabdulk4/itis3135/" target="_blank">https://webpages.charlotte.edu/aabdulk4/itis3135/</a> |
      <a href="https://aabdulk4-sys.github.io/itis3135/" target="_blank">https://aabdulk4-sys.github.io/itis3135/</a> |
      <a href="https://webpages.charlotte.edu/aabdulk4/" target="_blank">Webspace</a> |
      <a href="https://github.com/aabdulk4-sys" target="_blank">GitHub</a> |
      <a href="https://aabdulk4-sys.github.io" target="_blank">GitHub.io</a> |
      <a href="https://www.freecodecamp.org/aabdulkareem2025" target="_blank">FreeCodeCamp</a> |
      <a href="https://www.codecademy.com/profiles/ayahabdulk2025" target="_blank">Codecademy</a> |
      <a href="http://www.linkedin.com/in/ayah-abdulkareem-6b0997222" target="_blank">LinkedIn</a>
    </nav>
  
    <p>
      <a id="validation_link_html" href="#">Validate HTML</a> |
      <a id="validation_link_css" href="#">Validate CSS</a>
    </p>
  
    <p>Designed by <a href="#">Ambitious Antelope Web Design</a> ©2025</p>
  
    <script>
      document.getElementById("validation_link_html")
        .setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
      document.getElementById("validation_link_css")
        .setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
  </footer>
  